body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
  }
  
  
  section {
    margin-top: 30px;
  }
  
  section h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  section div {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  section div img {
    border-radius: 50%;
    margin-right: 20px;
  }
  
  section div p {
    margin: 0;
  }
  
  form label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f5f5f5;
  }
  
  footer {
    margin-top: 50px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
    color: #999;
  }
  