@import url("https://fonts.googleapis.com/css?family=Muli&dispaly=swap");

:root {
  --background-main: #afafaf;
  --background-header: #333;
  --background-button: #555;
  --background-error: #f8d7da;
  --background-submit: #dff0d8;
  --submit-border: #c1eb9e;
  --submit-color: #4caf50;
  --form-border: #ccc;
  --error-border: #f5c6cb;
  --error-color: #721c24;
  --text-color: #fff;
}

/* Global styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-main);
}

h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 16px 0;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  font-size: 16px;
  border: 1px solid #ddd;
}

table th {
  background-color: var(--background-button);
  font-weight: bold;
}

section {
  max-width: 800px;
  margin: 10px auto 10px;
  padding: 32px;
  background-color: #fff;
  border-radius: 27px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  background-color: var(--background-header);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 16px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ccc;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: var(--submit-color);
}

input[type="submit"] {
  background-color: var(--submit-color);
  color: var(--submit-border);
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: var(--submit-border);
  color: var(--submit-color);
}
