@import url("https://fonts.googleapis.com/css?family=Muli&dispaly=swap");

:root {
  --background-main: #afafaf;
  --background-header: #333;
  --background-button: #555;
  --background-error: #f8d7da;
  --background-submit: #dff0d8;
  --submit-border: #c1eb9e;
  --submit-color: #4caf50;
  --form-border: #ccc;
  --error-border: #f5c6cb;
  --error-color: #ab2b38;
  --text-color: #fff;
}

body {
  font-family: "Muli", sans-serif;
  overflow: hidden;
  margin: 0;
  background-color: var(--background-main);
  color: var(--text-color);
}

/* Styles for the container */
.container {
  padding: 20px 40px;
  display: grid;
  border-radius: 5px;
}

/* Header styles */
nav.active {
  background-color: var(--background-header);
  color: var(--text-color);
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav.active h1 {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  /* margin-left: 4rem; */
}

nav.active ul {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-left: 1rem;
  width: 0%;
}

nav.active ul a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 10px;
}

.prof-info {
  background-color: var(--background-button);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search-btns {
  background-color: var(--background-button);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  text-align: center;
  margin-right: 30px;
  font-size: 36px;
}

ul {
  list-style: none;
  padding: 0;
}

/* Section styles */
section {
  padding: 1rem;
  margin: 2rem;
}

label {
  margin-top: 0.5rem;
}

input,
select,
textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.btn {
  cursor: pointer;
  border: 3px solid var(--submit-border);
  border-radius: 5px;
  color: var(--text-color);
  background-color: var(--submit-color);
  margin: 1rem;
  padding: 5px 50px;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  border: 0;
  border-radius: 5px;
  margin-top: 40px;
}

.form-control a {
  text-decoration: none;
}

.btn:hover {
  background-color: var(--submit-border);
  color: #333;
  transform: scale(0.95);
}

.btn:active {
  transform: scale(0.95);
}

/* Reviews styles */
.review-container {
  background-color: var(--background-main);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.review-container p {
  margin-bottom: 0.5rem;
}

/* Back button */
.back-btn {
  display: inline-block;
  background-color: var(--background-button);
  color: var(--text-color);
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
}

.back-btn:hover {
  background-color: var(--background-button);
}
