@import url('https://fonts.googleapis.com/css?family=Muli&dispaly=swap');

:root {
  --background-main: #f5f5f5;
  --background-header: #333;
  --background-button: #555;
  --background-error: #f8d7da;
  --background-submit: #dff0d8; 
  --submit-border: #c1eb9e;
  --submit-color: #4CAF50;
  --form-border: #ccc;
  --error-border: #f5c6cb;
  --error-color: #721c24;
  --text-color: #fff;
}


/* Global styles */
body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-main);
}

h1,
h2 {
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

/* Header styles */
header {
  background-color: var(--background-header);
  color: var(--text-color);
  padding: 1rem;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  margin-top: 0.5rem;
}

input,
select,
textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

button[type='submit'] {
  background-color: var(--background-button);
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

button[type='submit']:hover {
  background-color: var(--background-button);
}

/* Search results styles */
#search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

#search-results li {
  background-color: var(--background-main);
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 30%;
  padding: 1rem;
}

.error-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error-messages .messages {
  /* background-color: var(--background-error);
  border: 1px solid var(--error-border); */
  color: var(--error-color);
  padding: 1em;
  border-radius: 0.25rem;
  font-weight: bold;
  margin: 1em 0;
  text-align: center;
  max-width: 600px;
}

.error-messages .flashes {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.error-messages .flashes li {
  margin-bottom: 0.5em;
}

/* Search section styles */
.search-section {
  background-color: var(--background-main);
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

/* Results section styles */
.results-section {
  background-color: var(--background-main);
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

/* Add item section styles */
.add-item-section {
  background-color: var(--background-main);
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

/* Search bar button styles */
.search-bar-btn {
  background-color: var(--background-button);
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem;
}

.search-bar-btn:hover {
  background-color: var(--background-button);
}

@media screen and (max-width: 768px) {
  #search-results li {
    width: 45%;
  }
}

@media screen and (max-width: 576px) {
  #search-results li {
    width: 100%;
  }
}
