@import url('https://fonts.googleapis.com/css?family=Muli&dispaly=swap');

:root {
  --background-main: #afafaf;
  --background-header: #333;
  --background-button: #555;
  --background-error: #f8d7da;
  --background-submit: #dff0d8; 
  --submit-border: #c1eb9e;
  --submit-color: #4CAF50;
  --form-border: #ccc;
  --error-border: #f5c6cb;
  --error-color: #ab2b38;
  --text-color: #fff;
}

  body {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: var(--background-main);
    color: var(--text-color);
  }

/* Styles for the container */
  .container {
    background-color: var(--background-header);
    padding: 20px 40px;
    border-radius: 5px;
  }
  
  .container-init {
    background-color: var(--background-header);
    border-radius: 5px;

  }

  /* Styles for the heading */
  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
  }
  
  /* Styles for the form */
  .form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
  }
  
  
  /* Styles for the input fields */
  .form-control input[type="text"],
  .form-control input[type="password"] {
    background-color: transparent;
    border: 0;
    border-bottom: 2px var(--text-color) solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: var(--text-color);
  }
  
  .form-control input:focus, 
  .form-control input:valid {
    outline: 0; 
    border-bottom-color: var(--background-button); 
  }

  /* Styles for the labels */
  .form-control label {
    position: absolute;
    bottom: 15px;
    left: 0;
  }

  .form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  } 

  .form-control input:focus + label span,
  .form-control input:valid + label span {
    color: var(--background-button);
    transform: translateY(-30px)
}
  
  /* Styles for the submit button */
  input[type="submit"] {
    cursor: pointer;
    display: inline-block;
    border: 1px solid var(--submit-border); 
    border-radius: 5px;
    color: var(--submit-color);
    background-color: var(--background-submit);
    padding: 10px 20px;
    font-family: inherit;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
  }

  
  /* Styles for the link to sign up */
  p {
    margin-top: 20px;
  }
  a {
    margin-left: 10px;
    color: var(--submit-color);
    text-decoration: none;
  }

  .btn {
    cursor: pointer;
    display: flex;
    border: 1px solid var(--submit-border); 
    border-radius: 5px;
    color: var(--submit-color);
    background-color: var(--background-submit);
    padding: 10px 20px;
    font-family: inherit;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    margin-left: 80px;
    margin-top: 40px;
  }

  .btn:focus {
    outline: 0;
  }

  .btn:active {
    transform: scale(.98);
  }
  
    .error-messages {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .error-messages .messages {
        /* background-color: var(--background-error);
        border: 1px solid var(--error-border); */
        color: var(--error-color);
        padding: 1em;
        border-radius: 0.25rem;
        font-weight: bold;
        margin: 1em 0;
        text-align: center;
        max-width: 600px;
    }

    .error-messages .flashes {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .error-messages .flashes li {
        margin-bottom: 0.5em;
    }