
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Item and User Lists</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='marketplace.css') }}"
    />
  </head>
  <body>
    <nav class="active">

      <ul>
        <li><a href="{{ url_for('searchbar') }}">Search</a></li>
        <li><a href="{{ url_for('handle_signin') }}">Logout</a></li>
      </ul>

    </nav>

    <section class="expensive-items-section">
      <h2>Most Expensive Items in Each Category</h2>
      <table id="item-results">
        <thead>
          <tr>
            <th>CATEGORY</th>
            <th>PRICE</th>
          </tr>
        </thead> 
        <tbody>
          {% if max_prices %}
          {% for result in max_prices %}
          <tr>
            <td>{{ result[4] }}</td>
            <td>{{ result[5] }}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="2">No results found.</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </section>

    <section class="user-results">
        <h2>Search User Posting Twice Today</h2>
        <form method="get" action="{{ url_for('marketplace') }}">
          <label for="category1">Category 1:</label>
          <input type="text" name="category1" id="category1"><br><br>
          <label for="category2">Category 2:</label>
          <input type="text" name="category2" id="category2"><br><br>
          <input type="submit" value="Search">
        </form>
        
        {% if users %}
          <h2>Users with both categories:</h2>
          <ul>
            {% for username in users %}
              <li>{{ username[0] }}</li>
            {% endfor %}
          </ul>
        {% endif %}
    </section>
    
    <section class="user-rating">
      <form method="get" action="{{ url_for('marketplace') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <button type="submit">Search</button>
      </form>
      
      {% if reviews %}
        <h2>Reviews for {{ username }}</h2>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Item ID</th>
              <th>Rating</th>
              <th>Description</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for review in reviews %}
              <tr>
                <td>{{ review[0] }}</td>
                <td>{{ review[1] }}</td>
                <td>{{ review[2] }}</td>
                <td>{{ review[3] }}</td>
                <td>{{ review[4] }}</td>
                <td>{{ review[5] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}


      <h2>Users with No Poor Reviews</h2>
      <table>
        <thead>
          <tr>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user[0] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </section>
    
  </body>
</html> 


