<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='profile.css') }}"
    />
  </head>
  <body>
    
    <div class="container">
      <nav class="active">
        <h1>Welcome, {{name}}!</h1>

        <ul>
          <li><a href="{{ url_for('searchbar') }}">Search</a></li>
          <li><a href="{{ url_for('marketplace') }}">Marketplace</a></li>
          <li><a href="{{ url_for('handle_signin') }}">Logout</a></li>
          
        </ul>

      </nav>

      <section class="prof-info">
        <h2>Profile Information</h2>
        <div class="profile-info">
          <img
            src="profile_picture.jpg"
            alt="Profile picture"
            width="150"
            height="150"
          />
          <!-- Add profile picture path -->
          <p>Name: {{name}}</p>
          <p>Username: {{username}}</p>
          <p>Email: {{email}}</p>
        </div>
      </section>

      <section class="search-btns">

        <h2>Time To Search!</h2>
        <div class="form-control">
          <a href="{{ url_for('searchbar') }}"><button class="btn button1" type="button">Search For Items</button></a>
        </div>

      </section>
    </div>
  </body>
</html>