<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='signup.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Sign Up</h1>
      <form id="myForm" method="POST" action="{{ url_for('handle_signup') }}">
        <div class="form-control">  
          <input type="text" name="username" required />
          <label for="username">Username</label>
        </div>
        <div class="form-control">
          <input type="email" name="email" required />
          <label for="email">Email</label>
        </div>
        <div class="form-control">
          <input type="text" name="firstName" required />
          <label for="firstName">First Name</label>
        </div>
        <div class="form-control">
          <input type="text" name="lastName" required />
          <label for="lastName">Last Name</label>
        </div>
        <div class="form-control">
          <input type="password" name="password" required />
          <label for="password">Password</label>
        </div>
        <div class="form-control">
          <input type="password" name="confirmPassword" required />
          <label for="confirmPassword">Confirm</label>
        </div>
          <input type="submit" value="Sign Up" />
      </form>

      <p>
        Already have an account?
        <a href="{{ url_for('handle_signin') }}">Sign In</a>
      </p>

      <div class="error-messages">
        <div class="messages">
          {% with messages = get_flashed_messages(with_categories=true,
          category_filter=["now"]) %} {% if messages %}
          <ul class="flashes">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='signup.js') }}"></script>
  </body>
</html>
